# Test format changes to this .travis.yml file before submitting a PR with:
# http://lint.travis-ci.org/openMF/Fineract-CN-mobile

language: android
jdk: oraclejdk8
# Turn off caching to avoid any caching problems
cache: false
sudo: required
env:
  global:
    - ANDROID_API_LEVEL=26
    - ANDROID_BUILD_TOOLS_VERSION=26.0.2
    - ADB_INSTALL_TIMEOUT=20 # minutes (2 minutes by default)

android:
  components:
    - platform-tools
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    # Google Play Services
    - extra-google-google_play_services
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository

script: "./gradlew build --stacktrace"