<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apache.fineract">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".FineractApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.online.accounting.ledgers.subledger.SubLedgerListActivity"></activity>
        <activity android:name=".ui.online.accounting.ledgers.createledger.createledgeractivity.CreateLedgerActivity" />
        <activity
            android:name=".ui.online.accounting.ledgers.ledgerdetails.LedgerDetailsActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.apache.fineract.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".ui.online.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.online.launcher.LauncherActivity" />
        <activity android:name=".ui.online.PassCodeActivity" />
        <activity
            android:name=".ui.online.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.online.DashboardActivity" />
        <activity android:name=".ui.online.customers.customerdetails.CustomerDetailsActivity" />
        <activity android:name=".ui.online.customers.customerpayroll.PayrollActivity" />
        <activity android:name=".ui.online.customers.customerpayroll.editcustomerpayroll.EditPayrollActivity" />
        <activity android:name=".ui.online.depositaccounts.depositaccountslist.DepositAccountsActivity" />
        <activity android:name=".ui.online.loanaccounts.loanaccountlist.LoanAccountsActivity" />
        <activity android:name=".ui.online.loanaccounts.plannedpayment.PlannedPaymentActivity" />
        <activity android:name=".ui.online.loanaccounts.loanapplication.loanactivity.LoanApplicationActivity" />
        <activity
            android:name=".ui.online.customers.createcustomer.customeractivity.CreateCustomerActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.online.loanaccounts.debtincomereport.DebtIncomeReportActivity" />
        <activity android:name=".ui.online.identification.identificationlist.IdentificationsActivity" />
        <activity android:name=".ui.online.identification.createidentification.identificationactivity.CreateIdentificationActivity" />
        <activity android:name=".ui.online.identification.viewscancard.ViewScanCardActivity" />
        <activity
            android:name=".ui.online.customers.customerprofile.CustomerProfileActivity"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".ui.online.depositaccounts.createdepositaccount.createdepositactivity.CreateDepositActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.online.customers.customeractivities.CustomerActivitiesActivity" />

        <receiver
            android:name=".jobs.JobsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.apache.fineract.JobsReceiver" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>